---
FormatStyle: file
WarningsAsErrors: "*"
CompileFlags:
  Add: -ferror-limit=100
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
